@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo&family=Nunito&family=Pacifico&family=Ubuntu&display=swap');

.status-vbox {

}

.main-hbox {
    -fx-font-size: 17;
    -fx-background-color: rgba(119, 255, 114, 0.33);
    -fx-border-color: rgba(194, 194, 194, 0.6);
    -fx-border-width: 2;
}

.main-hbox:hover {
    -fx-background-color: rgba(58, 255, 52, 0.33);
    -fx-border-color: rgba(155, 155, 155, 0.75);
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
    -fx-font-size: 18;
}

.name-label {
    -fx-font-family: 'Arimo', sans-serif;
    -fx-font-weight: 400;
    -fx-text-fill: #2d2d2d;
}

.status-label {
    -fx-text-fill: #6c6c6c;
    -fx-font-size: 15;
}

.date-label {
    -fx-text-fill: #838383;
    -fx-font-size: 12;
}

.main-hbox:hover .status-label {
    -fx-font-size: 16;
}

.main-hbox:hover .date-label {
    -fx-font-size: 13;
}
.main-hbox:hover .icon-accept, .main-hbox:hover .icon-refuse {
    -fx-icon-size: 27;
}

.btn-accept, .btn-refuse {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.icon-accept {
    -fx-icon-color: #525252;
    -fx-icon-size: 25;
}

.icon-refuse {
    -fx-icon-color: #525252;
    -fx-icon-size: 25;
}