.root {
    -fx-font-size: 15;
    -fx-background-image: url("images/4back.jpg");
}

.top-hbox {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.mid-window {
    -fx-background-color: #f55e5e;
}

.action-top-bar {
    -fx-background-color: white;
}

.btn-friends {
    -fx-background-radius: 50;
}

.btn-home {
    -fx-background-radius: 50;
    -fx-background-color: rgb(0, 0, 0, 0);
}

.search-bar {
    -fx-background-radius: 50;
}

.btn-rqst {
    -fx-background-radius: 50;
}

.btn-msg {
    -fx-background-radius: 50;
}

.user-name-label {
}

.btn-log-out {
    -fx-background-radius: 50;
}

.top-bar-btn, .close-app-btn {
    -fx-background-radius: 0;
    -fx-font-size: 15;
    -fx-background-color: rgb(0, 0, 0, 0);
    -fx-font-weight: 200;
    -fx-background-color: rgba(255, 255, 255, 0.40);
}

.top-bar-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.65);
}

.close-app-btn:hover {
    -fx-background-color: rgba(255, 0, 0, 0.73);
}

.friends-view {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.friends-vbox {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 0 40 40 0;
}

.panel-title {
    -fx-font-size: 25;
    -fx-text-fill: linear-gradient(to bottom, rgb(147, 146, 241) 0%, rgb(217, 124, 246) 20%, rgba(0,195,235,1) 96%);
}

.request-view {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.requests-vbox {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 40 0 0 40;
}

.btn-switch-req {
    -fx-background-radius: 50;
    -fx-background-color: linear-gradient(to bottom, rgb(147, 146, 241) 0%, rgb(217, 124, 246) 20%, rgba(0,195,235,1) 96%);
}

.reopen-chat-btn {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.reopen-chat-btn:hover {
    -fx-font-size: 15;
    -fx-background-color: white;
    -fx-cursor: hand;
}