.root {
    -fx-font-size: 15;
    -fx-background-image: url("images/4back.jpg");
}

.top-hbox {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.mid-window {
    -fx-background-color: #f55e5e;
}

.action-top-bar {
    -fx-background-color: yellow;
}

.btn-friends {
    -fx-background-radius: 50;
}

.btn-home {
    -fx-background-radius: 50;
    -fx-background-color: rgb(0, 0, 0, 0);
}

.search-bar {
    -fx-background-radius: 50;
}

.btn-rqst {
    -fx-background-radius: 50;
}

.btn-msg {
    -fx-background-radius: 50;
}

.user-name-label {
}

.btn-log-out {
    -fx-background-radius: 50;
}

.top-bar-btn, .close-app-btn {
    -fx-background-radius: 0;
    -fx-font-size: 15;
    -fx-background-color: rgb(0, 0, 0, 0);
    -fx-font-weight: 200;
    -fx-background-color: rgba(255, 255, 255, 0.40);
}

.top-bar-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.65);
}

.close-app-btn:hover {
    -fx-background-color: rgba(255, 0, 0, 0.73);
}

.friends-view {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.request-list {
    -fx-background-color: rgb(0, 0, 0, 0);
}